.Question-container{
    
    .q-content{
        
        .image{
            display: flex;
            justify-content: center;
            img{
                height: 200px;
            }
            .img-2{
                height: 200px;
            }
        }
        .q-description{
            margin: 20px 0 0 50px;
        }
        .q-answer{
            margin: 20px 0 10px 50px;
        }
    }
}